@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>More productive and engaging meetings for your professional audience with Kahoot! 360</h2>
</div>
